@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.container .content h1 {
  text-align: center;
}

.container .content .search_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.container .content .search_wrapper .times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.container .content .search_wrapper .times:active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.container .content .search_box {
  padding: 0.5rem 1rem;
  font-family: 'Manrope', sans-serif;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content .buttons .btn {
  padding: 0.5rem 1rem;
  background-color: #eee;
  border-radius: 5px;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.container .content .buttons .btn:hover {
  background: #ddd;
}

.container .content .buttons .btn img {
  width: 1.5rem;
}

.container .content .buttons .btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */